<form [formGroup]="profileForm">
    <label for="username">Username: </label>
    <input required id="username" type="text" formControlName="username">
    <br />
    <label for="role">Role: </label>
    <select required id="role" type="text" formControlName="role">
      <option value="OWNER">OWNER</option>
      <option value="ADMIN">ADMIN</option>
      <option value="TENANT">TENANT</option>
    </select>
    <br />
    <label for="password">Password: </label>
    <input required id="password" type="password" formControlName="password">
    <br />
    <label for="first-name">First Name: </label>
    <input required id="first-name" type="text" formControlName="firstName">
    <br />
    <label for="last-name">Last Name: </label>
    <input required id="last-name" type="text" formControlName="lastName">
    <br />
    <button type="submit" (click)="addUser()">Add User</button>
  </form>