.log-in-component {
    height: 40vh;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-div {
    font-size: 50px;
}

.log-in-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.error-message {
    color: red;
    margin-top: 30px;
}
