<div class="log-in-component">
  <div class="title-div">
    Log in
  </div>
  <p class="error-message">{{errorMessage}}</p>
  <form class="log-in-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
        placeholder="username"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        #password="ngModel"
        placeholder="password"

      />
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" [disabled]="!form.username || !form.password">
        Login
      </button>
    </div>
  </form>
</div>
