<!-- <h2 mat-dialog-title class="title">Add new device</h2>
<mat-dialog-content style="white-space: pre-line">
    <p>Object: {{data.selectedObject.name}}</p>
    <mat-form-field appearance="fill">
        <mat-label>Favorite Animal</mat-label>
        <input matInput>
    </mat-form-field>
</mat-dialog-content> 

<mat-dialog-actions class="bttns-div">
    <div class="bttn-div">
        <button
        color="primary"
        type="submit"
        class="submit-button"
        id="submit-button"
        (click)="onCancel()"
        >
        Submit
        </button>
    </div>
    <div class="bttn-div">
        <button
            color="primary"
            type="submit"
            class="submit-button"
            id="cancel-button"
            (click)="onCancel()"
        >
            Cancel
        </button>
    </div>
</mat-dialog-actions> -->