#delete_button{
    border-width: 0;
    background-size: 20px 20px;
    height: 20px;  
    width: 20px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1c/No-Symbol.png);
}

#buttonSearch{
    border-width: 0;
    background-size: 20px 20px;
    height: 20px;  
    width: 20px;
    background-image: url(https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png);
}

form{
	margin: 10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	label {
		margin: 0 0 3px 0;
		padding: 0px;
		display: block;
		font-weight: bold;
	}
	input{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 1px solid #BEBEBE;
		padding: 7px;
		margin: 0px;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
		&:focus {
			-moz-box-shadow: 0 0 8px #88D5E9;
			-webkit-box-shadow: 0 0 8px #88D5E9;
			box-shadow: 0 0 8px #88D5E9;
			border: 1px solid #88D5E9;
		}
	}
}