<div class="container mt-5">
    <form>
        <input type="text" id="barSearch" [(ngModel)]="placeId" />
        <button id="buttonSearch" (click)="onClickSearch()" formtarget="_blank"></button>
      </form>
    <h2>Users</h2>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Username</th>
            <th>Role</th>
            <th>First name</th>
            <th>Last name</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Users">
          <td>{{ user.username }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td><button (click)="onClickDelete($event,user.username)" id="delete_button"></button></td>
        </tr>
      </tbody>
    </table>
  </div>